*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body {
     scroll-behavior: smooth;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}
.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: black;
}

input,
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #947633;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 16px;
}

button {

  align-self: center;
  width: 50%;
  background-color: black;
  color: #fff;
  padding: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: #000;
  background-color: #947633;
}
.skills ul li:hover{
  color: #947633;
  font-size: larger;
  
}
/* .container {

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
} */

.contact-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.answers{
  border-style: solid;
  border-color: #947633;
  border-width: medium;
}
.labeling{
  border-style: solid;
  border-color: #947633;
  border-width: medium;
}

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
height: 100vh;
overflow: hidden;
}
.container{
  height: 100%;
  width: 100%;
}
.hero{
  position: relative;
 height: 100vh;
  width: 100%;
  background-image: #eff4fd;
   scroll-snap-align: center;
}
nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-content: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav ul li a:hover{
  color: #947633;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
.details{
  margin-left: 6%;
  margin-right: 22%;
  margin-top: 20%;
}
.details h1{
  font-size: 40px;
  color: #000;
  margin-bottom: 20px;
   overflow: hidden; 
  border-right: .15em solid black;
  white-space: nowrap; 
  margin: auto 0; 
 
   animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
.details a{
  background: black;
  color: #947633;
  padding: 10px 10px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  border-radius: 5px;
  text-decoration: none;
} 
.details a:hover{
  cursor: pointer;
}           
span{
  color: #947633;
}
.images{
  width: 35%;
  height: 80%;
  position: absolute;
  bottom: 0%;
  right: 100px;
}
.images img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 2s left 1s;
}
.images .mxolisi{
animation-name: movement;
  animation-duration: 2s;  
  animation-delay: 0s;
  animation-fill-mode: backwards;
}
@keyframes movement {
  from {bottom: -100%;}
  to {bottom: 0%;}
}
.images:hover .shape{
  bottom: 40px;
}
.images:hover .mxolisi{
  left: 45%;
}


/* .skill{ */
  /* font-size: 250px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

.logoz {
    display: inline-block; 
    padding-right:auto;
    padding-left: auto;
    padding-bottom: auto;
}

.SubTopics {
  background-color: #947633;
  text-align: center;
  overflow: hidden;
}

 video {

  width: 15%;
  height: auto;
  padding-bottom: auto;
}
.bioText{
  box-shadow: 0 4px 8px 0 #947633;
  border-color: #947633;
  
  border-style: solid;
  border-width: thick;
  transition: 0.3s;
  padding: 40px 80px;
  
}

 .tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
 /* background-image: url('../media/background.png'); */
  /* background-size: cover; */
  /* background-position :center; */
 position :relative;
  overflow: hidden;
} 
.tab p{
  background-color: white;
  font-size: 20px;
}

 


.qualification {
  
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 40px;
  justify-self: center;
  align-self: center;
  width: fit-content;
  padding: 20px;
  margin-top: 5%;
  font-size: 25px;
}

#musicTab {
  text-align: center;
  display: block;
  height: 100vh;
  width: 100%;
  /* background-image: url('../media/background.png'); */
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: scroll;
  scroll-behavior: smooth;
  
}
#titleSong{
  font-weight: bolder;
    font-size:  30px;
     color: #947633;
}
.musicText{
  /* box-shadow: 0 4px 8px 0 #947633; */
  border-color: #947633;
  
  border-style: solid;
  border-width: thick;
  transition: 0.3s;
  font-size:  20px;
  
}
.music {
 /* background-image: url('../media/background.png'); */
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: hidden;
  padding-top: 40px;
  /* padding-bottom: 40px; */


}
#play {
  cursor: pointer;
  width: "40";
  height: "50";
}
#play2 {
  cursor: pointer;
}
button {
 background: black;
 background-color: black;
  color: #947633;
  font-weight: bold;
 padding: 10px 25px;
 border-radius: 20px;
 cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.music {
 /* background-image: url('../media/background.png'); */
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: hidden;
  }

  #play {
    cursor: pointer;
    width: "40";
    height: "50";
  }
  #play2 {
    cursor: pointer;
  }
  @media screen and (max-width: 950px){
    .images{
  width: 15%;
  height: 60%;
  position: absolute;
  bottom: 0%;
  right: 100px;
}


.qualification{
   grid-column-gap: 20px;
   padding: 10px;
    font-size: 15px;
     grid-template-columns: 150px 150px;
     background-color: white;
     font-size: large;
     font-weight: bold;
  
  
}

header {
  /* background-color: #333;
  color: #fff; */
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


  }
   @media screen and (max-width: 590px){
    .bioText{
      box-shadow: 0 1px 2px 0 #947633;
      border-color: #947633;
      
      border-style: solid;
      border-width: thick;
      transition: 0.3s;
      padding: 2px 7px;
      
    }

      
      .details h1{
  font-size: 20px;
      }
   }

   @media screen and (max-width: 454px){

    .images{
        width: 12%;
        height: 50%;
      }
   }


