*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
height: 100vh;
overflow: hidden;
}
.container{
  height: 100%;
  width: 100%;
}
.hero{
  position: relative;
 height: 100%;
  width: 100%;
  background-image: #eff4fd;
   scroll-snap-align: center;
}
nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-content: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav ul li a:hover{
  color: burlywood;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
.details{
  margin-left: 6%;
  margin-right: 22%;
  margin-top: 20%;
}
.details h1{
  font-size: 40px;
  color: #000;
  margin-bottom: 20px;
   overflow: hidden; 
  border-right: .15em solid black;
  white-space: nowrap; 
  margin: auto 0; 
 
   animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
.details a{
  background: black;
  color: burlywood;
  padding: 10px 10px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  border-radius: 5px;
  text-decoration: none;
} 
.details a:hover{
  cursor: pointer;
}           
span{
  color: burlywood;
}
.images{
  width: 35%;
  height: 80%;
  position: absolute;
  bottom: 0%;
  right: 100px;
}
.images img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 2s left 1s;
}
.images .mxolisi{
animation-name: example;
  animation-duration: 2s;  
  animation-delay: 0s;
  animation-fill-mode: backwards;
}
@keyframes example {
  from {bottom: -100%;}
  to {bottom: 0%;}
}
.images:hover .shape{
  bottom: 40px;
}
.images:hover .mxolisi{
  left: 45%;
}








/* header {
  font-size: 30px;
  font-family: 'Gruppo';font-size: 22px;
  background-color: white;
  background-image: linear-gradient(white, #323b8a);
}
p {
  background-color: white;
  font-size: 30px;
}
footer {
  background-image: url('../media/background.png');
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: hidden;
}
#CV{
 color: #fbfcfd;
 padding: 10px 25px;
 background: transparent;
 border: 1px solid #fff;
 border-radius: 20px;
 outline: none;
 cursor: pointer;
}
#name {
  font-family: 'Merienda';
  font: optional;
  color: #fbfcfd;
  text-align: center;
}
/* .content{
  position  :absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
} */
.bubble img{
  width: 5%;
  filter: grayscale(10); 
  animation: bubble 7s linear infinite;
}
.bubble{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -40px;
}
@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubble img:nth-child(1){
  width: 1%;
  animation-delay: 2s;
}
.bubble img:nth-child(2){
  width: 4%;
  animation-delay: 3s;
}
.bubble img:nth-child(3){
  width: 6%;
  animation-delay: 4.5s;
}
.bubble img:nth-child(4){
  width: 2%;
  animation-delay: 5.5s;
}
.bubble img:nth-child(5){
  animation-delay: 2.5s;
}
.bubble img:nth-child(6){
  animation-delay: 3.5s;
}
.bubble img:nth-child(7){
  animation-delay: 5.s;
}
/*.socials {
  text-align: right;
  text-align: justify;
}

.logoz {
  border-radius: 50%;
  width: 50px;
  height: 55px;
   text-align: left;
  margin-left: auto;
  margin-right:300px;
    display: block;
}
.github{
  border-radius: 60%;
  width: 50px;
  height: 55px;
   text-align: center;
  margin-left: 300px;
  margin-right: auto;
  display: block;
}
header{
  width: 100%;
  height: 100vh;
  background-image: url('../media/background.png');
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: hidden;
}
#centers {

  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  
}
#subHeader {
  text-align: center;
  display: block;
}
#About {
  text-align: center;
}*/
.SubTopics {
  background-color: burlywood;
  text-align: center;
}

/*.myTabs {
  display: grid;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;

}
.myTabs input[type="radio"] {
  display: none;
  text-align: center;
}

#author {
  font-style: italic;
  background: white;
  text-align: center;
  text-shadow: royalblue;
}*/
 .tab {
   display: grid;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100vh;
 background-image: url('../media/background.png');
  background-size: cover;
  background-position :center;
 position :relative;
  overflow: hidden;
} 
.tab p{
  font-size: 20px;
}
/* .myTabs input[type="radio"]:checked + label + .tab {
  display: block;
}
.myTabs {
  display: flex;
}
.myTabs input[type="radio"]:checked + label {
   background-image: url('../media/background.png');
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: hidden;
}*/
.qualification {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 40px;
  justify-self: center;
  align-self: center;
  width: fit-content;
  padding: 20px;
  margin-top: 5%;
  font-size: 25px;
}
/*#tag {
  font-family: monospace;
  background: white;
  text-align: center;
  font-size: 50px;
}
.myTabs label {
  justify-content: center;
  width: auto;
  border-bottom: 1px solid linear-gradient(white, #323b8a);
  padding: 25px;
  background-image: linear-gradient(white, #323b8a);
  font-weight: bold;
  cursor: pointer;
}*/

#musicTab {
  display: block;
      height: 100vh;
    width: 100%;
}
.music {
 background-image: url('../media/background.png');
  background-size: cover;
  background-position :center;
  position : relative;
  overflow: hidden;
}
#play {
  cursor: pointer;
  width: "40";
  height: "50";
}
#play2 {
  cursor: pointer;
}
.hide {
  display: none;
}
button {
 color: #fbfcfd;
 padding: 10px 25px;
 background: transparent;
 border: 1px solid #fff;
 border-radius: 20px;
 outline: none;
 cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.music {
    background-image: linear-gradient(white, #6f78ca);
  }

  #play {
    cursor: pointer;
    width: "40";
    height: "50";
  }
  #play2 {
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  button {
    background-image: linear-gradient(white, #323b8a);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
  }

